.trend-entry {
	margin-top: 15%;
}

.trend-head {
	font-size: 30px;
}

.list-item {
	font-size: 18px;
	font-style: italic;

	padding-bottom: 3%;
}
.list-item:hover {
	text-decoration: underline;
	
	cursor: pointer;
}

.seperator {
	margin-top: 10%;

	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: black;

	width: 80%;
}