.header {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 100px;
    right: 100px;
    z-index: 100;
    border-bottom-style:solid;
    background-color: white;
    border-bottom-color: black;
    border-bottom-width: 2px;
    
}





.left-section {
    position:relative;
    display: flex;
    font-size: 30px;
    padding-left: 5px;
    padding-right:5px;
    margin-top: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: red;
    margin-bottom: -2px;
    border-bottom-width: 2px;
}

.middle-section {
    align-items: center;
    flex:1 ;
    display:flex; 
    max-width: 500px;
}

.calendar-button {
    padding-right: 10px;
    height:35px;
    background-color: white;
    border-style: hidden;
    cursor: pointer;
    
}

.calendar-icon {
    height:30px
}

.calendar-button:hover{
    height:35px
}

.calendar-button:hover .calendar-icon{
    height:37px
}

.searchbox {
    display: flex;
    height:25px;
    border-style:solid;
    border-radius: 25px;
    flex:0.95;
    padding-right:12px;
    border-width:0.2px;
    transition: border-color 0.2s;
    transition: box-shadow 0.2s;

}

.searchbox:hover{
    border-color:grey;
    box-shadow: 0 1px 6px rgba(32 33 36 0.28);
}

.search-button {
    
    cursor:pointer;
    background-color: white;
    height:25px;
    border:none;
    border-radius: 25px;
    
    
    }

.search-icon {
    height: 18px

}

.search-bar {
    position:flex;
    font-size: 18px;
    border: none;
    flex:0.95;
    outline: none;
    
    
}

.right-section {
   
    width:300px;
    align-items:center;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    
}




